body {
    background: rgb(76, 0, 84);
    color: rgb(232, 232, 232);
}

main {
    background: black;
    border: solid rgb(232, 232, 232) 3px;
    margin: 1rem auto;
    width: 60rem;
    padding: 1rem 3rem 2rem;
}

p:not(.left) {
    margin: auto;
    max-width: 90%;
}

h5 {
    margin: 1rem 0;
    text-align: center;
}

h1{
    text-align: center;
}

header nav {
    background: rgb(144, 0, 166);
    border: solid rgb(232, 232, 232) 3px;
    margin: 0 -0.5rem;
    font-size: large;
}

header nav a {
    color: rgb(232, 232, 232);
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav li {
    float: left;
}

nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
}

header nav li:hover {
    background: rgb(76, 0, 84);
}

.contains li:hover {
    background: rgb(144, 0, 166);
}

nav li:hover {
    background: rgb(144, 0, 166);
}

nav a:active, .mode button:hover {
    color: rgb(255, 82, 194);
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

li.contains ul {
    display: none;
}

li.contains:hover ul {
    background: rgb(76, 0, 84);
    display: block;
    position: absolute;
    z-index: 100;
    border: solid rgb(144, 0, 166) 3px;
}

li.contains li {
    float: none;
    font-size: smaller;
}

.mode button {
    padding: 1rem;
    text-decoration: none;
    margin: 0 0 .5rem .5rem;
    font-weight: bold;
}

.mode button:last-child {
    margin-right: .5rem;
}

h5 img {
    position: relative;
    right: 10px;
    top: 10px;
}

h5 img:hover {
    transform: rotate(5000deg);
    transition: 60s linear;
}

#sidenav {
    background: black;
    border: solid rgb(232, 232, 232) 3px;
    max-height: 32rem;
    max-width: 9rem;
    position: fixed;
    margin: 1rem -0.5rem;
    padding: 1rem;
    overflow-y: scroll;
}

#sidenav a {
    color: rgb(232, 232, 232);
    display: block;
    padding: .3rem;
    text-decoration: none;
}

table,
th,
td {
    border: solid rgb(232, 232, 232)3px;
    border-collapse: collapse;
    margin: auto;
}

tbody tr:nth-child(even) {
    background-color: rgb(76, 0, 84);
}

.border {
    border: solid rgb(232, 232, 232) 3px;
    flex: 1;
    padding: 1rem;
    margin: 0.5rem;
}