@font-face {
  font-family: khiarascript;
  src: url('../fonts/khiara_script/©\ 2020\ NUGS\ Project\ Khiara\ Script.ttf');
}

@font-face {
  font-family: quaylike;
  src: url('../fonts/quaylike/Quaylike.otf');
}

@font-face {
  font-family: blackbones;
  src: url('../fonts/black_bones/Black\ Bones\ Personal\ Use\ Only.ttf');
}

@font-face {
  font-family: breathing;
  src: url('../fonts/breathing/Breathing\ Personal\ Use\ Only.ttf');
}

@font-face {
  font-family: feelingpassionate;
  src: url('../fonts/feeling_passionate/Feeling\ Passionate\ Personal\ Use\ Only.ttf');
}

.shadow {
  font-family: khiarascript;
  font-size: 6rem;
  color: black;
  text-shadow: .1rem .1rem rgb(255, 222, 248), 
  .2rem .2rem rgb(255, 99, 252);
  padding: 1rem 2rem 1rem;
}

.showcase {
  font-family: khiarascript;
  font-size: 6.5rem;
  color: black;
  text-shadow: .1rem .1rem rgb(255, 222, 248), 
  .2rem .2rem rgb(255, 99, 252);
  padding: 2rem 2rem 0;
}

.quaylike {
    font-family: quaylike;
    font-size: 3.5rem;
}

.breathing {
  font-family: breathing;
  font-size: 3.5rem;
}

.project {
  font-family: blackbones;
  font-size: 4.5rem;
  margin-top: -.5rem;
}

.passionate {
  font-family: feelingpassionate;
  font-size: 3.5rem;
}