@font-face {
  font-family: khiarascript;
  src: url('../fonts/khiara_script/©\ 2020\ NUGS\ Project\ Khiara\ Script.ttf');
}

@font-face {
  font-family: quaylike;
  src: url('../fonts/quaylike/Quaylike.otf');
}

@font-face {
  font-family: blackbones;
  src: url('../fonts/black_bones/Black\ Bones\ Personal\ Use\ Only.ttf');
}

@font-face {
  font-family: breathing;
  src: url('../fonts/breathing/Breathing\ Personal\ Use\ Only.ttf');
}

@font-face {
  font-family: feelingpassionate;
  src: url('../fonts/feeling_passionate/Feeling\ Passionate\ Personal\ Use\ Only.ttf');
}

@font-face {
  font-family: dnd;
  src: url('../fonts/fantasy_magist/FANTASY\ MAGIST.otf');
}

.text-shadow {
  font-family: khiarascript;
  font-size: 6rem;
  text-shadow: .1rem .1rem rgb(255, 222, 248), 
  .2rem .2rem rgb(231, 87, 216);
  margin: 1rem auto 0;
}

.showcase {
  font-family: khiarascript;
  font-size: 6.5rem;
  text-shadow: .1rem .1rem rgb(255, 222, 248), 
  .2rem .2rem rgb(231, 87, 216);
  margin: 1rem auto -1rem;
}

.quaylike {
    font-family: quaylike;
    font-size: 3.5rem;
    margin: 0 auto 1rem;
}

.breathing {
  font-family: breathing;
  font-size: 3.5rem;
}

.project {
  font-family: blackbones;
  font-size: 4.5rem;
  margin-top: -.5rem;
}

.passionate {
  font-family: feelingpassionate;
  font-size: 3.5rem;
}

.dnd {
    font-family: dnd;
    font-size: 3.5rem;
    margin: 1.5rem 0 1rem;
}