.webpage {
    background: rgb(255, 234, 251);
    font-family: 'Times New Roman', Times, serif;
}

main {
    background: white;
    border: solid black 3px;
    margin: 1rem auto;
    width: 60%;
    padding: 1rem 3rem 2rem;
}

.res {
    margin: -2rem;
}

nav {
    color: black;
}

a:hover, .dropdown a:hover {
    background-color: rgb(255, 171, 240);
}

.sidenav {
    background: white;
    border: solid black 3px;
    margin-top: 1rem;
    max-height: 80%;
    max-width: 20%;
    position: fixed;
    overflow-y: scroll;
}

div:target{
    box-shadow: 0 0 1.5rem rgb(215, 6, 201);
    background-color: rgb(255, 237, 254);
}

.sidenav a {
    color: black;
    padding: .3rem;
    text-decoration: none;
}

/* Flower spin */
h5 img {
    position: relative;
    right: 15px;
}

h5 img:hover {
    transform: rotate(5000deg);
    transition: 60s linear;
}

div .fa-sun {
    display: none;
}

div .fa-moon {
    display: inline;
    margin: .4rem 1.4rem;
    font-size: 3rem;
}

.toggle-container {
    cursor: pointer;
}

.dark-mode {
    background: rgb(74, 8, 82);
    color: rgb(232, 232, 232);
}

.dark-mode main {
    background: black;
    border: solid rgb(232, 232, 232) 3px;
}

.dark-mode #quiz-form {
    color: black;
}

.dark-mode .sidenav {
    background: black;
    border: solid rgb(232, 232, 232) 3px;
}

.dark-mode .sidenav a, .dark-mode h5 {
    color: rgb(232, 232, 232);
}

.dark-mode .fa-sun {
    display: inline;
    margin: .5rem 1rem;
    font-size: 3rem;
}

.dark-mode .fa-moon {
    display: none;
}